.about-container img {
    width: 80vh;
    margin: 20px;
}

.about-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.about-container p {
    width: 80vh;
    margin: 30px 60px 100px 60px;
}

@media (max-width: 1000px) {
    .about-container img{
        width: 550px;
    }

    .about-container p {
        width: fit-content;
    }
}

@media (max-width: 600px) {
    .about-container img{
        width: 350px;
    }

    .about-container p {
        width: fit-content;
    }
}
