.about-container img {
    width: 50vh;
    margin: 20px;
}

.about-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    justify-content: center;
}

.about-container p {
    width: 500px;
    margin: 0 60px 0 60px;

}