.sch-container {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
    margin-top: 10vh;

}

.time-container {
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.pres-container{
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.prog-container {
    display: flex;
    flex-direction: column;
    font-size: 17px;
}

.sch-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.sch-button button{
    font-family: 'Nunito', sans-serif;
    width: 120px;
    margin: 20px;
    height: 40px;
    color: white;
        padding: 5px 10px;
        font-weight: bold;
        font-size: medium;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: linear-gradient(to right, #B53B93ff, #BF4086ff,#C84578ff,#D24A6Bff,#DC4E5Dff, #E55350ff,#EF5842ff);;
           
}

.sch-button button:hover {
    box-shadow: 0 4px grey;
    top: 1px;
}

.sch-button button:active {
    box-shadow: 0 0 grey;
    top: 5px;
  }

  @media (max-width: 650px) {
    .sch-container {
      align-items: center; /* Center items vertically */
      margin-top: 5vh; /* Decrease top margin for smaller screens */
    }
  
    .time-container,
    .pres-container,
    .prog-container {
      font-size: 10px; /* Decrease font size for smaller screens */
      margin-bottom: 20px; /* Add margin at the bottom for spacing */
    }
  
    .sch-button {
      margin-top: 30px; /* Adjust top margin for button container */
    }
  
    .sch-button button {
      width: 40%; /* Make buttons full width */
      margin: 10px 0; /* Adjust margin for buttons */
    }
  }
  