.footer-container {
    height: 50px;
    background-image: linear-gradient(to right, #B53B93ff, #BF4086ff,#C84578ff,#D24A6Bff,#DC4E5Dff, #E55350ff,#EF5842ff);
    width: 100%;
    margin-top: auto;
}

.text-container{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

@media (max-width: 600px) {


    .footer-container h3 {
        font-size: 13px;
        margin: 17px auto;
    }
}