.main-container {
    width: 450px;
    height: 500px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.main-container h1 {
    font-size: 50px;
}

.goals-container {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 150px;
}

.card-container p{
    width: 260px;
    height: 190px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 40px;
    box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    padding: 30px;
    margin: 5vh;
    
}
