.home-container {
    display: flex;
    flex-Direction: row-reverse;
    margin-top: 100px; 
    justify-content: space-evenly;
}


.main-container {
    width: 450px;
    height: 500px;
    font-family: 'Nunito', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.main-container h1 {
    font-size: 60px;
    font-family: 'Merriweather', serif;
}

.goals-container {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    margin-top: 150px;
}

.goals-container h2 {
    font-size: 50px;
}

.card-container p{
    width: 350px;
    height: 190px;
    text-align: center;
    border: 1.5px solid black;
    border-radius: 15px;
    box-shadow: 7px 8px 13px -4px rgba(0,0,0,0.47);
    padding: 25px;
    margin: 2vh;  
    font-size: 17px;
}

@media (max-width: 1000px) {
    .home-container {
        width: 100%; /* Make the container full-width */
        display: flex;
        flex-direction: column-reverse; /* Display contents in a column layout */
        justify-content: space-around;
        align-items: center;
    }

    .main-container {
        text-align: center; 
        padding: 20px; 
        margin-top: -40px;
    }

    .main-container h1 {
        font-size: 60px; 
    }

    .main-container h2 {
        font-size: 20px; 
    }
}
